
  <div id="breadcrumb">
    <div class="container">
      <div class="breadcrumb">
        <li><a href="/home/main">Home</a></li>
        <li>Services</li>
      </div>
    </div>
  </div>

  <div class="services">
    <div class="container">
      <h3>Agency Services</h3>
      <hr>
      <div class="col-md-6">
        <img src="/images/4.jpg" class="img-responsive">
        <p></p>
      </div>

      <div class="col-md-6">
        <div class="media">
          <ul>
            <li>
              <div class="media-left">
                <i class="fa fa-pencil-alt"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">웹 개발</h4>
                <p>고객이 만들고자하는 홈페이지를 요구에 맞게 만들어 드립니다</p>
              </div>
            </li>
            <li>
              <div class="media-left">
                <i class="fa fa-book"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">반응형 웹 디자인</h4>
                <p>크기나 해상도의 변화에 따라 화면의 크기가 자동으로 알맞게 변하는 반응형 웹 디자인을 설계해 드립니다.</p>
              </div>
            </li>
            <li>
              <div class="media-left">
                <i class="fa fa-rocket"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">부트스트랩 테마</h4>
                <p>다양한 부트스트랩 테마를 활용해 여러가지 디자인의 테마를 고객이 직접 선택할 수 있습니다.</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
      
      
      
    </div>
  </div>

  <div class="sub-services">
    <div class="container">
      <div class="col-md-6">
        <div class="media">
          <ul>
            <li>
              <div class="media-left">
                <i class="fa fa-pencil-alt"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Landing Page</h4>
                <p>사용자의 의도에 맞는 컨텐츠를 강조하여 홈페이지 방문자에게 확실히 전달 가능하게하는 랜딩페이지로 만들어 드립니다.</p>
              </div>
            </li>
            <li>
              <div class="media-left">
                <i class="fa fa-book"></i>
              </div>
              <div class="media-body">
                <h4 class="media-heading">Training</h4>
                <p>홈페이지를 직접 만들고싶은 고객을 위해 홈페이지 제작 방법을 교육합니다.</p>
              </div>
            </li>
            <!--<li>-->
            <!--  <div class="media-left">-->
            <!--    <i class="fa fa-rocket"></i>-->
            <!--  </div>-->
            <!--  <div class="media-body">-->
            <!--    <h4 class="media-heading">Logo Design</h4>-->
            <!--    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus interdum erat libero, pulvinar tincidunt leo consectetur eget.</p>-->
            <!--  </div>-->
            <!--</li>-->
          </ul>
        </div>
      </div>

      <div class="col-md-6">
        <img src="/images/service2.jpg" class="img-responsive">
        <p></p>
      </div>
    </div>
  </div>
