  <footer>
    <div class="footer">
      <div class="container">
        <div class="social-icon">
          <div class="col-md-4">
            <ul class="social-network">
              <li><a href="https://ko-kr.facebook.com/ptu.likelion/" class="fb tool-tip" title="Facebook"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="https://www.codecademy.com/learn" class="code tool-tip" title="code"><i class="fa fa-code"></i></a></li>
              <li><a href="https://www.instagram.com/m_meeeee/" class="linkedin tool-tip" title="Linkedin"><i class="fab fa-linkedin"></i></a></li>
              
            </ul>
          </div>
        </div>

        <div class="col-md-4 col-md-offset-4">
          <div class="copyright">
            &copy; Company Theme. All Rights Reserved.
            <div class="credits">
          
            </div>
          </div>
        </div>
      </div>

      <div class="pull-right">
        <a href="#home" class="scrollup"><i class="fa fa-angle-up fa-3x"></i></a>
      </div>
    </div>
  </footer>
  
  